doctype html
html(ng-app="viser")
  head
    title= ViserDashboard

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type="text/javascript", src="/javascripts/lib/jquery/jquery.js")
    script(type="text/javascript", src="/javascripts/lib/d3/d3.v2.js")
    script(type="text/javascript", src="/javascripts/lib/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript").
      google.load('visualization', '1.0', {'packages': ['corechart', 'table']})
    
    script(type="text/javascript", src="/javascripts/lib/dviz.js")
    script(type="text/javascript", src="/javascripts/lib/opt_graph.js")
    script(type="text/javascript").
      $(function() {dviz.run();});
    script(type="text/javascript", src="/javascripts/lib/angular/angular.js")
    script(type="text/javascript", src="/javascripts/lib/angular-resource/angular-resource.js")
    
    script(type="text/javascript", src="/javascripts/DashboardCtrl.js")
    script(type="text/javascript", src="/javascripts/Graph.js")  

  body
    div(class="dviz-content",style="max-width: 100%px; max-height: 100%px;",ng-controller="DashboardCtrl")
      
      pre
        code.
          Dodaj komentarz -(6)- Moderacja
          Moderacja -(6)- Front
          Moderacja -(6)- SPAM
      
      div
        code.
          (@graph)