extends layout

block content
  h1 Viser - visualize event in your app
  p Statistics
  ul
    li
      a(href="/stats/simple-stat-by-range?unit=minute").
        Count events by date range - unit: minute
    li
      a(href="/stats/simple-stat-by-range?unit=hour").
        Count events by date range - unit: hour
    li
      a(href="/stats/simple-stat-by-range?unit=day").
        Count events by date range - unit: day