extends ../layout

block content
  h1.
    Viser - visualize event in your app
  h3.
    Statistics - Stats by date range (#{unit})
  form(method="GET")
    select(name="unit")
      option(value="minute" selected='minute'==unit) minute
      option(value="hour" selected='hour'==unit) hour
      option(value="day" selected='day'==unit) day
    input(name="count" type="number" value="#{count}")
    input(type="submit")

  br
  div
    canvas(id="statsByDateRange" width="1024" height="400")

  script(type="text/javascript").
    var ctx = document.getElementById("statsByDateRange").getContext("2d");
    var dataServer = !{data}

    var labels = [];
    var sets = [];

    for (var i in dataServer) {
      labels.push(dataServer[i].date);
    }

    for (var i in dataServer) {
      sets.push(dataServer[i].count);
    }

    console.log(labels);
    console.log(sets);

    var data = {
    labels : labels,
        datasets : [
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : sets
            }
        ]
    }
    var statsByDateRangeChart = new Chart(ctx).Line(data);